<nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-info border-bottom box-shadow mb-2">
    <div class="container">
        
        <button class="navbar-toggler ml-auto" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
            aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reversex">
            <ul class="navbar-nav flex-grow-1">
                <li class="nav-item">
                    <a class="nav-link text-white" href="/"><i class="fa fa-home mr-1"></i>Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white" href="/about"><i class="fa fa-info mr-1"></i>About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white" href="/upload"><i class="fa fa-upload mr-1"></i>Upload</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white" href="/apipull"><i class="fa fa-database mr-1"></i>API Pull</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
