<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head') %>
</head>
<body>

    <header>
        <%- include('../partials/header') %>
    </header>

    <div class="main-outer-div">

        <div class="container">

            <h1>About</h1>

            <p>The various sections are just for testing different things with Node.</p>

        </div>

    </div>

    <%- include('../partials/footer') %>

</body>
</html>
