@import url('https://fonts.googleapis.com/css?family=Open+Sans|Blinker&display=swap');

body {
    font-family: 'Open Sans', sans-serif;
}

.main-outer-div{
    margin-top:64px;
}

.card, .card-header, .btn, .table, .form-control {
    border-radius: 0 !important;
}

.img-test{
    max-width:80px;
    float:right;
}

.btn {
    font-family: 'Blinker', sans-serif;
}

.card-index .card-index-info{
    min-height:80px!important;
}

.card-index .list-group-item{
    background-color:transparent;
}

.card-index .card-index-img {
    max-width: 80px;
    border:1px solid rgba(255,255,255,0.1);
}

.table-apiqs{
    font-size:0.8em;
}

    /*.table-apiqs thead th, .table-apiqs tbody td {
        padding-top: 8px;
        padding-bottom: 8px;
    }*/

.apiqs-p{
    font-weight:600!important;
}

.mongo-list-img {
    max-width: 80px;
    border: 1px solid rgba(255,255,255,0.1);
}